body {
    background-color: blanchedalmond;
    width: 80%;
    caret-color: transparent;
}

body > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu {
    display: inline-block;
    cursor: pointer;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Menu styling - https://www.w3schools.com/howto/howto_css_menu_icon.asp */

.container {
    display: none;
    border: 1px solid rgb(216, 216, 216);
    background-color: white;
    padding: 5px;
    animation: fadeIn 0.2s ease-in forwards;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  background-color: rgb(255, 0, 0);
}

/* Fade out the second bar */
.change .bar2 {
    background-color: rgb(255, 255, 255);
}

/* Rotate last bar */
.change .bar3 {
  background-color: rgb(0, 0, 198);
}

/* .menu_visible .container { */
    /* write code to make menu_visible in the .container class */
    /* background-color: red; */
/* } */