body {
    background-color: blanchedalmond;
}

body > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Menu styling - https://www.w3schools.com/howto/howto_css_menu_icon.asp */